@using IK_Project.UI.Areas.Employee.Models;

@{
	ViewData["Title"] = "ProfileDetails";
}
@{
	string companyName = TempData["companyName"] as string;
}
@model EmployeeVM
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Corona Admin</title>
	<link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
	<link rel="stylesheet" href="../../assets/css/style.css">
	<link rel="shortcut icon" href="../../assets/images/favicon.png" />
</head>
<html lang="en">
<style>
	body {
		font-family: Arial, Helvetica, sans-serif;
	}

	* {
		box-sizing: border-box;
	}

	input[type=text], select, textarea {
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
	}

	input[type=date], select, textarea {
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
	}

	input[type=email], select, textarea {
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
	}

	input[type=number], select, textarea {
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
	}

	input[type=password], select, textarea {
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
	}

	input[type=submit] {
		background-color: #04AA6D;
		color: white;
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

		input[type=submit]:hover {
			background-color: #45a049;
		}
</style>
<main id="main" class="main">
	<section class="section profile">
		<div class="row">
			<div class="col-xl-6">

				<div class="card-header" style="font-size:18px;">Profile Picture</div>
				<div class="card-body text-center">
					@if (Model.ProfilePhoto != null)
					{
						<img id="selectedImage" src="~/images/@Model.ProfilePhoto" alt="Company Logo">
					}
					else
					{
						<img src="~/assets/img/profile-img.jpg" alt="Profile">
					}
					<h2>@Model.Name @Model.LastName</h2>

				</div>

			</div>
		</div>
		<div class="col-xl-6">
			<div class="card">
				<div class="card-body pt-3">
					<!-- Bordered Tabs -->
					<div class="tab-content pt-2">

						<!-- Profile Edit Form -->
						<form enctype="multipart/form-data" method="post" asp-action="ProfileDetails" asp-controller="Home">
							<div class="row mb-3">
								<label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
								<div class="col-md-8 col-lg-9">

									<div class="pt-2">
										<input type="file" id="imageInput" asp-for="@Model.LogoFile" accept="image/*" class="form-control" />
										<span asp-validation-for="LogoFile.Length" class="text-danger"></span>
										<span asp-validation-for="LogoFile.ContentType" class="text-danger"></span>
										<span asp-validation-for="LogoFile" class="text-danger"></span>
										@*                                            <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
										<a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>*@
									</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="fullName" class="col-md-4 col-lg-3 col-form-label">Name</label>
								<div class="col-md-8 col-lg-9">
									<input name="Name" type="text" class="form-control" id="fullName" value="@Model.Name">
									<span asp-validation-for="Name" class="text-danger"></span>

								</div>
							</div>

							<div class="row mb-3">
								<label for="about" class="col-md-4 col-lg-3 col-form-label">SurName</label>
								<div class="col-md-8 col-lg-9">
									<input name="LastName" type="text" class="form-control" id="fullName" value="@Model.LastName">
									<span asp-validation-for="LastName" class="text-danger"></span>

								</div>
							</div>

							<div class="row mb-3">
								<label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
								<div class="col-md-8 col-lg-9">
									<input name="Address" type="text" class="form-control" id="Address" value="@Model.Address">
									<span asp-validation-for="Address" class="text-danger"></span>


								</div>
							</div>

							<div class="row mb-3">
								<label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
								<div class="col-md-8 col-lg-9">
									<input name="PhoneNumber" type="text" class="form-control" id="Phone" value="@Model.PhoneNumber">
									<span asp-validation-for="PhoneNumber" class="text-danger"></span>


								</div>
							</div>

							<div class="row mb-3">
								<label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
								<div class="col-md-8 col-lg-9">
									<input name="Email" type="email" class="form-control" id="Email" value="@Model.Email" readonly>
									<span asp-validation-for="Email" class="text-danger"></span>

								</div>
							</div>

							<div class="text-center">
								<button type="submit" class="btn btn-primary">Save Changes</button>
							</div>
						</form><!-- End Profile Edit Form -->
					</div><!-- End Bordered Tabs -->
				</div>
			</div>
		</div>
	</section>
</main><!-- End #main -->
</html>

<style>
	/* Logo boyutunu ayarla */
	.photo-size {
		max-width: 500px; /* İstediğiniz genişliği burada belirtin */
		max-height: 500px; /* İstediğiniz yüksekliği burada belirtin */
	}
</style>

<script>
	const imageInput = document.getElementById('imageInput');
	const selectedImage = document.getElementById('selectedImage');

	imageInput.addEventListener('change', function () {
		const file = imageInput.files[0];
		if (file) {
			const reader = new FileReader();
			reader.onload = function (e) {
				selectedImage.src = e.target.result;
			};
			reader.readAsDataURL(file);
		}
	});
	selectedImage.style.maxWidth = '200px';
	selectedImage.style.maxHeight = '150px';
</script>