@using IK_Project.UI.Areas.Admin.Models.ViewModels.AdminVM;

@model List<AdminAdminListVM>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
</head>
<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-primary" style="color:azure; font-size:larger" asp-action="Create">Add New Admin</a>
    </div>

</div>

<br />
<div class="row">
    <div class="col-lg-12">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    
                    <th>Name</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>PhoneNumber</th>
               
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @* <td>
                    <p class="fw-normal mb-1" asp-for="@item.Id">@item.Id</p>
                    <p class="text-muted mb-0"></p>
                    </td>*@
                        <td>
                            <p class="fw-normal mb-1" asp-for="@item.Name">@item.Name</p>
                            <p class="text-muted mb-0"></p>
                        </td>  
                        <td>
                            <p class="fw-normal mb-1" asp-for="@item.LastName">@item.LastName</p>
                            <p class="text-muted mb-0"></p>
                        </td>                
                        <td>
                            <p class="fw-normal mb-1" asp-for="@item.Email">@item.Email</p>
                            <p class="text-muted mb-0"></p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1" asp-for="@item.PhoneNumber">@item.PhoneNumber</p>
                            <p class="text-muted mb-0"></p>
                        </td>                       
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


