@using IK_Project.UI.Areas.Admin.Models.ViewModels.CompanyManagerVMs;
@{
    ViewData["Title"] = "Details";
}

@model AdminCompanyManagerEditVM

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <link rel="stylesheet" href="~/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />
</head>

<html lang="en">
<style>

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=date], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=email], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=number], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=password], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

</style>

<div class="container-xl px-4 mt-4">


    <!-- Account details card-->

    <form enctype="multipart/form-data" method="post" asp-action="Details" asp-area="Admin" asp-controller="CompanyManager">

        @*  <div class="col-xl-4">*@
        <!-- Profile picture card-->

        <div class="mb-3">
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>

                <div class="card-body text-center">
                    @if (Model.ProfilePhoto != null)
                    {
                        <img id="selectedImage" src="~/images/@Model.ProfilePhoto" alt="Company Logo">
                    }
                    else
                    {
                        <img src="~/assets/img/profile-img.jpg" alt="Profile">
                    }
                    <div class="card-body text-center">
@*                        <img id="selectedImage" src="" alt="Selected Image" />
*@                        <input type="file" id="imageInput" asp-for="@Model.LogoFile" accept="image/*" class="form-control" />
                        <span asp-validation-for="LogoFile.Length" class="text-danger"></span>
                        <span asp-validation-for="LogoFile.ContentType" class="text-danger"></span>
                        <span asp-validation-for="LogoFile" class="text-danger"></span>
          


                    </div>



                </div>

            </div>


         </div>
            
            @*  </div>*@


       


        <div class="card mb-4 mb-xl-0">
            <div class="card-header">Details</div>

            <div class="card-body">

               @* <div class="mb-3">
                    <label style="font-size:16px;" asp-for=Id class="small mb-1" for="inputCompanyManager">ID:</label>
                    <input style="background-color: lightgrey;" style="font-size:16px;" readonly asp-for=Id type="text" value="@Model.Id" id="form4Example1">
                </div>*@


                @*<div class="mb-3">
                    <label style="font-size:16px;" class="small mb-1" for="form4Example1">Name:</label>
                    <input style="background-color: lightgrey;" style="font-size:16px;"  asp-for="Name" id="form4Example1" type="text" value="@Model.Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>*@

                <div class="mb-3">
                    <label style="font-size:16px;" class="small mb-1" for="form4Example1">Name:</label>
                    <input style="font-size:16px;" asp-for="Name" id="form4Example1" type="text" value="@Model.Name"  />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

@*                <div class="mb-3">
                    <label style="font-size:16px;" class="small mb-1" for="form4Example1">Name:</label>
                    <input style="font-size:16px;" asp-for=Name id="form4Example1" type="text" value="@Model.Name">
                </div>*@
@*                <div class="mb-3">
                    <label style="font-size:16px;" class="small mb-1" for="form4Example1">Last Name:</label>
                    <input style="font-size:16px;" asp-for=LastName id="form4Example1" type="text" value="@Model.LastName">
                </div>*@

                <div class="mb-3">
                    <label style="font-size:16px;" class="small mb-1" for="form4Example1">Last Name:</label>
                    <input style="background-color: white;" style="font-size:16px;"  asp-for="LastName" id="form4Example1" type="text" value="@Model.LastName"  />
                    <span asp-validation-for="LastName" class="text-danger"></span>

                </div>

                

                <div class="mb-3">
                    <label style="font-size:16px;" class="small mb-1" for="form4Example1">Birth Date:</label>
                <input style="font-size:16px;" asp-for="BirthDate" id="form4Example1" type="date" value="@Model.BirthDate?.ToString("yyyy-MM-dd")">

                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>



                <div class="mb-3">
                    <label style="font-size:16px;" class="small mb-1" for="form4Example1">Birht Place:</label>
                    <input style="font-size:16px;" asp-for=BirhtPlace id="form4Example1" type="text" value="@Model.BirhtPlace" >
                    <span asp-validation-for="BirhtPlace" class="text-danger"></span>

                </div>

                <div class="mb-3">
                    <label style="font-size:16px;" class="small mb-1" for="form4Example1">EMail:</label>
                    <input style="background-color: white;" style="font-size:16px;"  asp-for="Email" id="form4Example1" type="text" value="@Model.Email"  />
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>


    @*           


               @* <div class="mb-3">
                    <label style="font-size:16px;" asp-for=SecondName class="small mb-1">Second Name:</label>
                    <input style="background-color: lightgrey;" style="font-size:16px;" readonly asp-for=SecondName id="inputCompanyManager" type="text" value="@Model.SecondName">
                </div>*@

            



               @* <div class="mb-3">
                    <label style="font-size:16px;" asp-for=SecondLastName class="small mb-1">Second Last Name: </label>
                    <input style="background-color: lightgrey;" style="font-size:16px;" readonly asp-for=SecondLastName id="inputCompanyManager" type="text" value="@Model.SecondLastName ">
                </div>*@

    @*           
@*
               

               @* <div class="mb-3">
                    <label style="font-size:16px;" asp-for=CitizenId class="small mb-1">Citizen ID: </label>
                    <input style="background-color: lightgrey;" style="font-size:16px;" readonly asp-for=CitizenId id="inputCompanyManager" type="text" value="@Model.CitizenId ">
                </div>*@

  @*              <div class="mb-3">
                    <label style="font-size:16px;" asp-for=@Model.StartDate class="small mb-1" for="inputUsername">Start Date:</label>
                    <input style="background-color:lightgrey;" style="font-size:16px;" asp-for=@Model.StartDate id="form4Example2" type="date">


                </div>*@

                @*<div class="mb-3">
                    <label style="font-size:16px;" asp-for=Profession class="small mb-1" for="inputCompanyManager">Profession:</label>
                    <input style="background-color: lightgrey;" style="font-size:16px;" readonly asp-for=Profession id="inputCompanyManager" type="text" value="@Model.Profession">
                </div>*@

               @* <div class="mb-3">
                    <label style="font-size:16px;" asp-for=Department class="small mb-1" for="inputCompanyManager">Department:</label>
                    <input style="background-color: lightgrey;" style="font-size:16px;" readonly asp-for=Department id="inputCompanyManager" type="text" value="@Model.Department">
                </div>*@


                


                <div class="mb-3">
                    <label style="font-size:16px;" asp-for=@Model.Address class="small mb-1" for="inputLocation">Address:</label>
                    <input style="font-size:16px;" asp-for=@Model.Address type="text" value="@Model.Address" id="form4Example1">
                    <span asp-validation-for="Address" class="text-danger"></span>


                </div>

                <div class="mb-3">
                    <label style="font-size:16px;" asp-for=@Model.PhoneNumber class="small mb-1" for="inputLocation">Phone Number:</label>
                    <input style="font-size:16px;" asp-for=@Model.PhoneNumber value="@Model.PhoneNumber"id="inputLocation" type="text">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                </div>





@*                <div class="mb-3">
                    <label style="font-size:16px;" class="small mb-1" for="form4Example1">Company ID:</label>
                    <input readonly style="background-color: lightgrey;" style="font-size:16px;" asp-for="CompanyID" id="form4Example1" type="text" />


                </div>*@
                <div class="mb-3">
                    <label hidden asp-for=CompanyID class="small mb-1" for="inputUser">Company ID:</label>
                    <input  hidden readonly asp-for=CompanyID class="form-control" id="inputDateTime" type="text" value="@Model.CompanyID">

                </div>
                <div class="form-group">
                    <label asp-for="CompanyID" class="control-label">Company Select</label>
                    <select asp-for="CompanyID" asp-items="Model.CompanyList" class="form-control"></select>
                    <span asp-validation-for="CompanyList" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label hidden asp-for=AppUserID class="small mb-1" for="inputUser">AppUserID:</label>
                    <input hidden readonly asp-for=AppUserID class="form-control" id="inputDateTime" type="text" value="@Model.AppUserID">
                </div>


@*                <div class="mb-4">
                    <label class="form-label" for="form4Example1">Status :</label>
                    <select style="font-size: 16px; height: max-content" asp-for="IsActive" class="form-control">
                        @{
                            var isActive = Model.IsActive ? "selected" : "";
                            var isNotActive = Model.IsActive ? "" : "selected";
                        }
                        <option value="true" selected=@isActive>Active</option>
                        <option value="false" selected=@isNotActive>Deactive</option>
                    </select>
                </div>*@
                <div class="mb-4">
                    <label class="form-label" for="form4Example1">Status :</label>
                    <select id="isActiveDropdown" style="font-size: 16px; height: max-content" asp-for="IsActive" class="form-control">
                        <option value="true">Active</option>
                        <option value="false">Deactive</option>
                    </select>
                </div>





               @* <div class="mb-3">
                    <label hidden asp-for=CreatedDate class="small mb-1" for="inputDateTime">CreatedDate:</label>
                    <input hidden readonly asp-for=CreatedDate class="form-control" id="inputDateTime" type="text" value="@Model.CreatedDate">
                </div>

@*                <div class="mb-3">
                    <label hidden class="form-label" for="inputCompany">ModifiedBy:</label>
                    <input hidden readonly asp-for=@Model.ModifiedBy class="form-control" id="inputCompany" type="text" value="@Model.ModifiedBy">
                </div>


                <div class="mb-3">
                    <label hidden class="form-label" for="inputCompany">CreatedBy:</label>
                    <input hidden readonly asp-for=@Model.CreatedBy class="form-control" id="inputCompany" type="text" value="@Model.CreatedBy">
                </div>

                <div class="mb-3">
                    <label hidden class="form-label" for="inputDateTime">ModifiedDate:</label>
                    <input hidden readonly asp-for=@Model.ModifiedDate class="form-control" id="inputDateTime" type="text" value="@Model.ModifiedDate">
                </div>*@

 @*               <div class="mb-3">
                    <label hidden class="form-label" for="inputDateTime">Status:</label>
                    <input hidden readonly asp-for=@Model.Status class="form-control" id="inputDateTime" type="text" value=@Model.Status>
                </div>*@

                @* <div class="mb-3">
                <label class="form-label" for="form4Example1">Status :</label>
                <select style="height:max-content" asp-for="Status" asp-items="@Html.GetEnumSelectList<Status>()" class="form-control">
                <option disabled selected hidden>Choose Status...</option>
                </select>
                </div>*@

                <!-- Save changes button-->
                <button type="submit" class="btn btn-primary float-right">Save Changes</button>
                @if (!string.IsNullOrEmpty(ViewData["ProfilePhotoError"] as string))
                {
                    <div class="text-danger">@ViewData["ProfilePhotoError"]</div>
                }
            </div>
        </div>

    </form>

</div>

</html>

<script>
    var isActive = @Model.IsActive.ToString().ToLower();
    document.getElementById('isActiveDropdown').value = isActive;
</script>
<script>
    const imageInput = document.getElementById('imageInput');
    const selectedImage = document.getElementById('selectedImage');

    imageInput.addEventListener('change', function () {
        const file = imageInput.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                selectedImage.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });
    selectedImage.style.maxWidth = '200px';
    selectedImage.style.maxHeight = '150px';
</script>